body, html, #app {
    height: 100%;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #9bf6ff;
    color: #a0c4ff;
}

body li {
    margin: 20px ;

}

#app p {
    font-size: 0.7em;
}


#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    text-align: center;
    padding: 0 15px;
}

#app h1{
    margin: 0;
    margin-bottom: 30px ;
}

#app button{
    color: #ffadad;
    background: #ffc6ff;
    border: 0;
    font-size: 0.7em;
    padding: 10px 20px;
    border-radius: 30px;
    transition: 250ms;
}

#app button:hover {
    cursor: pointer;
    background: #caffbf;
    transform: scale(120%);
}

/* homepage */


.homepage h2 {
    font-size: 0.8em;
}

.homepage h1, .homepage h2 {
    margin: 0;
}

.homepage #app ul li:hover {
    cursor: pointer;
    transform: scale(120%);
}

/* Todo list */

.todolist ul{
    list-style: none;
    padding: 0;
}

.todolist ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.todolist ul div{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 100px;
}

.todolist ul div:hover{
    background-color: #ffc6ff;
    cursor: pointer;
}

.todolist #newtask {
    font-size: 0.6em;
    background-color: #9bf6ff;
    border: 0;
    border-bottom: #a0c4ff 2px solid;
    color: #ffc6ff;
}

.todolist #newtask:focus {
    outline: 0;
}

.todolist ul span{
    font-size: 40px;
}

/* Responsive Design Styles */

@media (max-width: 800px){
    #app {
        font-size: 2em;
    }
}

